.idea/
*.txt
*.ui
*.db
*.sql
*.jpeg
*.UI
*.html
./__pycache__/
*.spec
.build/
.dist/
*.rar
*.exe
*.pyc
*.png
*.sln
*.suo
*.xaml
*.pyproj
./hanna
*.css
*.cs
*.sqlite
*.js
./vsocde/
*.json
*.R
