<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test View</title>
    <style>
        .myfield{
            border:1px solid #ccc; 
            border-radius:5px;
            height:25px;
            width:200px;
            margin: 10px 10px 10px 0;
        }
    </style>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div>
        {% for field in form %}
        <div>
            {{field.label_tag}}
            <div>{{field}}</div>
        </div>
        {% endfor %}
        </div>
        <input type="submit" value="Send" >
    </form>
    <!-- <style>
        .field{font-weight:bold;}
        .error{color:red;}
    </style>
</head>
<body>
    <form method="POST" novalidate>
        {% csrf_token %}
        <div>
        {% for field in form %}
        <div class="row">
            {{field.label_tag}}
            <div>{{field}}</div>
            {% if field.errors%}
            <div class="error">{{field.errors}}</div>
            {% endif %}
        </div>
        {% endfor %}
        </div>
        <input type="submit" value="Send" >
    </form> -->
    <!-- <style>
        .field{font-weight:bold;}
        .error{color:red;}
        </style>
    </head>
    <body class="container">
        <form method="POST" novalidate>
            {% csrf_token %}
            <table>
            {{form}}
            </table>
            <input type="submit" value="Send" >
        </form> -->
    <!-- <style>
        .alert{color: red;}
        .form-group{margin: 10 px 0 ;}
        .form-group input{width:250px ; height: 25px; border: radius 3px; ;}
    </style>
</head>
<body class="container">
    <body class="container">
        <form method="POST" novalidate>
            {% csrf_token %}
            <div>
            {% for field in form %}
            <div class="form-group">
                {{field.label_tag}}
                <div>{{field}}</div>
                {% if field.errors%}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            </div>
            <input type="submit" value="Send" >
        </form>
    </body> -->
</body>
</html>